/******* Header Styles ******/
#header-logo {
    font-size: 24px;
    font-family: 'Hero New', sans-serif;
    color: #F9FAF8;
}

#header-links {
    font-size: 18px;
    font-family: 'Hero New', sans-serif;
    color: #E5E7EB;

    display: flex;               /* Displays links in a row */
    justify-content: flex-end;   /* Push links to right */
    gap: 20px;                   /* Space between links */
}

header {
    background-color: #1F2937;
    margin: 0;

    display: flex;
    justify-content: space-around;   /* this will push the logo to the left and the links to the right w/ space from edge of page*/
    align-items: center;             /* to vertically align the logo and links in the center */
}

/* Removes margin so that background colour is cohesive with no gaps*/
body, #header-logo, #top-page-heading {
    margin: 0;
}

/******* top-page Section Styles ******/
#top-page {
    background-color: #1F2937;
}

#top-page-heading {
    font-size: 48px;
    font-family: 'Hero New', sans-serif;
    color: #F9FAF8;

    padding: 30px;
}

#top-page-body {
    font-size: 20px;
    font-family: 'Hero New', sans-serif;
    color: #F9FAF8;

    padding: 30px;
}

#button-sign-up {
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
}

#top-page-image {
    color: #F9FAF8;
}