/*Header Styles*/
#header-logo {
    font-size: 24px;
    font-family: 'Hero New', sans-serif;
    color: #F9FAF8;
}

#header-links {
    font-size: 18px;
    font-family: 'Hero New', sans-serif;
    color: #E5E7EB;
}

header {
    background-color: #1F2937;
    margin: 0;
}

/* Removes margin so that background colour is cohesive with no gaps*/
body, #header-logo {
    margin: 0;
    padding: 0;
}

